@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Kramerica.BankID.Samples</h1>
    <h3 class="display-4">Testapplication</h3>

    <p><a href="https://github.com/magohl/Kramerica.BankID">BankID on ASP.NET Core</a>.</p>
</div>