<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Kramerica.BankID</title>

    <!-- <link rel="stylesheet" href="css/loading.css">
    <link rel="stylesheet" href="css/loading-button.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/1.2.7/spin.min.js"></script> -->

</head>

<body>
    <div class="container">
        <div class="header">
            <h3 class="text-muted">BankID OIDC</h3>
        </div>

        @RenderBody()
        
        <div class="footer">
            <p>Kramerica.BankID | Proof-of-concept OIDC IDP | M. Ohlsson | Uses <a href="https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server">AspNet.Security.OpenIdConnect.Server</a> framework</p>
        </div>

    </div>
</body>
</html>