@using AspNet.Security.OpenIdConnect.Primitives
    
<div class="jumbotron">
    <h1>OpenID Connect BankID Test Server</h1>
    <p class="lead text-left"><a href="/.well-known/openid-configuration">Metadata - OIDC Discovery</a></p>
</div>