@using Microsoft.AspNetCore.Authentication
@addTagHelper "*, Kramerica.BankID.OIDCServer"

    <h4>Identifiering</h4>
    <p class="lead text-left">Öppna BankId Appen och scanna QR koden nedan</p>
<div>
        <form id="bankidqr" action="/signinqr" method="post">
            <input type="hidden" name="autoStartToken" value="@ViewBag.AutoStartToken"/>
            <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
        </form>
<div>
    <bankid-qrcode height="400" width="400" alt="QR Code" content="bankid:///?autostarttoken=@ViewBag.AutoStartToken" /><img hspace="50" height="200" width="200" src="images/bankid_low_index.gif"/>
</div>

<script type="text/javascript">
  document.forms["bankidqr"].submit();
</script>